{# Ticket reply notification #}
{% set title = "New Reply on Ticket #" ~ (ticket_id | default('')) %}

Dear {{ customer_name | default('Valued Customer') }},

You have a new reply on your support ticket.

Ticket: #{{ ticket_id }}
Subject: {{ subject | default('Support Request') }}

Reply:
{{ reply | default('') }}

Please log in to your account to view the full conversation and respond.

Thank you!
